/* Form */
.center-container {
    height: 100vh;
    width: 100%;
    display: flex;
}
.form-card {
    margin: auto;
    width: 80%;
}
.right {
    float: right;
}

/* MDL Correction */
.mdl-textfield {
    width: 100%;
}

/* MDL Fileupload */
.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}